@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: rgba(128, 128, 128, 0.205);
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.cont {
    width: 300px;
    margin: auto;
    margin-top: 50px;
}


/* Contenedor título  */

.cont-titulo {
    width: 300px;
    height: 250px;
    background-color: #6104FF;
    border-radius: 30px;
    position: relative;
    z-index: 100;
    text-align: center;
    display: inline-block;
}

.cont-img {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 35px;
}

.cont-img img {
    width: 80%;
}

.cont-titulo h3,
p {
    color: white;
    margin-top: 15px;
}


/* Estilos para el pie dela tarjeta  */

.cont-pie {
    width: 300px;
    height: 150px;
    background-color: #6104FF;
    border-radius: 30px;
    position: relative;
    z-index: 90px;
    transform: translateY(-209px);
    transition: all 0.5s;
}

.abrir-pie {
    transform: translateY(0px);
}


/* Estilos para el boton  */

.cont-btn {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    margin: auto;
    transform: translateY(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cont-btn img {
    width: 40%;
}

.cerrar {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.abrir {
    transform: rotate(180deg);
}


/* Estilos para los liquidos  */

.cont-liquido {
    position: relative;
    width: 288px;
    height: 60px;
    margin: auto;
    filter: url(#effets);
}

.liquid-1 {
    position: absolute;
    width: 29px;
    height: 97px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 12px;
    top: 26px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-1-ocultar {
    width: 52px;
    height: 19px;
    left: 10px;
    top: 67px;
}

.liquid-2 {
    position: absolute;
    width: 33px;
    height: 70px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 59px;
    top: 41px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-2-ocultar {
    width: 33px;
    height: 27px;
    left: 77px;
    top: 62px;
}

.liquid-3 {
    position: absolute;
    width: 41px;
    height: 94px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 113px;
    top: 0px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-3-ocultar {
    width: 40px;
    height: 24px;
    left: 129px;
    top: 65px;
}

.liquid-4 {
    position: absolute;
    width: 60px;
    height: 82px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 181px;
    top: 16px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-4-ocultar {
    width: 40px;
    height: 26px;
    left: 187px;
    top: 65px;
}

.liquid-5 {
    position: absolute;
    width: 18px;
    height: 116px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 259px;
    top: -2px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-5-ocultar {
    width: 36px;
    height: 27px;
    left: 247px;
    top: 63px;
}

.liquid-6 {
    position: absolute;
    width: 27px;
    height: 90px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 225px;
    top: -53px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-6-ocultar {
    width: 26px;
    height: 34px;
    left: 249px;
    top: -33px;
}

.liquid-7 {
    position: absolute;
    width: 37px;
    height: 90px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 156px;
    top: -45px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-7-ocultar {
    width: 43px;
    height: 29px;
    left: 183px;
    top: -35px;
}

.liquid-8 {
    position: absolute;
    width: 31px;
    height: 90px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 100px;
    top: -42px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-8-ocultar {
    width: 42px;
    height: 22px;
    left: 123px;
    top: -27px;
}

.liquid-9 {
    position: absolute;
    width: 25px;
    height: 90px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 48px;
    top: -40px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-9-ocultar {
    width: 34px;
    height: 24px;
    left: 71px;
    top: -28px;
}

.liquid-10 {
    position: absolute;
    width: 20px;
    height: 63px;
    background-color: #6104FF;
    border-radius: 50px;
    left: 12px;
    top: -35px;
    transition: all 1.5s cubic-bezier(0, 0, 0.03, 0.83);
    display: none;
}

.liquid-10-ocultar {
    width: 39px;
    height: 24px;
    left: 15px;
    top: -27px;
}

.show {
    display: block;
}